.cursor-container {
  display: inline-block;
  font-family: 'Andale Mono', monospace;
  font-size: 1em;
  white-space: nowrap;
}

.blinking-cursor {
  opacity: 1;
  animation: cursor-blink 1s steps(2) infinite;
  vertical-align: top;
  margin-left: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
