<app-project-arrow />
@if (!loggedIn()) {
  <span class="recipe-login" (click)="directToLogin()">Please log in to create your List</span>
}
<div class="recipe-container" *ngIf="recipeList$ | async as recipes">
  <h1>Recipe Box</h1>
  <h4>Total Items: {{ recipes.length }}</h4>
  @for (item of recipes; track $index) {
    <div class="recipe-card current-card">
      <div class="recipe-header">
        <h2>{{ item.name }}</h2>
      </div>
      <div class="recipe-details">
        <h3>{{ item.url }}</h3>
        <p>{{ item.text }}</p>
      </div>
      <div class="recipe-buttons">
        <button type="button" (click)="editTask(item)">Edit</button>
        <button type="button" (click)="deleteTask(item)">Remove</button>
      </div>
    </div>
  }
  <button type="button" (click)="showForm()">Add Recipe</button>
</div>
