.container {
  position: relative;
  background: #f7fbf9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin: -3px -8px 0 -8px;
  padding: 0 8px;
  border-bottom: 2px solid #95b8d1;
}

.left {
  margin: 10px 0px 0px 20px;
}

.left * {
  margin-right: 25px;
  color: #5d7298;
}

.logo {
  height: 65px;
  border-radius: 50%;
}

.right {
  display: none;
}

.right a {
  margin-left: 25px;
  width: 100px;
  text-decoration: none;
  color: #5d7298;
  transition: color 0.2s ease;
}

.right a:hover {
  color: #3c4a66;
}
.mobile-menu,
.mobile-menu * {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  padding: 15px;
}

.mobile-menu.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.mobile-dropdown {
  z-index: 1000;
  position: absolute;
  top: 100%;
  right: 0;
  width: 240px;
  background: #f7fbf9;
  border-bottom: 2px solid #95b8d1;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition:
    max-height 0.35s ease,
    opacity 0.25s ease;
}

.mobile-dropdown.open {
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
  padding: 10px 20px;
}

.mobile-dropdown a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #5d7298;
  transform: translateY(-5px);
  opacity: 0;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}
.mobile-dropdown.open a {
  opacity: 1;
  transform: translateY(0);
}

.mobile-dropdown a:hover {
  color: #3c4a66;
}

.close-row {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

.close-row app-x-mark {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

@media (min-width: 900px) {
  .right {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-dropdown {
    display: none !important;
  }
}
