.footer-container {
  background: #f7fbf9;
  border-top: 5px solid #95b8d1;
  padding: 2rem 1.5rem;
  margin-top: auto;
  text-align: center;
  color: #5d7298;
  display: flex;
  gap: 1.25rem;
  font-family: 'Merriweather', serif;
  justify-content: space-evenly;
  position: relative;
  z-index: 0;
}

.footer-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../../assets/images/footerBackground.png') center/cover no-repeat;
  transform-origin: center;
  opacity: 0.15; /* soften it */
  z-index: -1;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3c4a66;
}

.footer-container span {
  font-size: 1.1rem;
  font-weight: 600;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.socials app-github-icon,
.socials app-linked-in-icon {
  font-size: large;
  cursor: pointer;
  color: #5d7298;
  transition: color 0.2s ease;
}

.socials app-github-icon:hover,
.socials app-linked-in-icon:hover {
  color: #3c4a66;
}

.contact-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
}

.contact-card {
  background: #ffffff;
  border: 1px solid #d4d9e2;
  border-radius: 12px;
  padding: 1.5rem 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  font-size: 1rem;
  color: #3d4b66;
  min-width: 50%;

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
  font-size: 0.75rem;
}

.contact-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.contact-card a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.contact-card a app-email-icon,
.contact-card a app-phone-icon {
  color: #5d7298;
  transition:
    transform 0.25s ease,
    color 0.25s ease,
    filter 0.25s ease;
}

.contact-card:hover app-email-icon,
.contact-card:hover app-phone-icon {
  transform: rotate(-2deg);
  color: #3c4a66;
  filter: drop-shadow(0 2px 4px rgba(60, 74, 102, 0.25));
}

@media (min-width: 900px) {
  h4 {
    font-size: 2rem;
  }
  .contact-card-container {
    flex-direction: row;
  }

  .contact-card {
    font-size: 1rem;
    padding: 2.5rem 1.25rem;
    width: 100%;
  }
}
