.nav-bar {
  position: relative;
  z-index: 10;
}

html,
body {
  height: 100%;
  margin: 0;
}
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
footer {
  margin-top: auto;
  width: 100%;
}
