.container {
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
}

.backgroundLaptop {
  display: none;
}
.content {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 50%;
  height: 40%;
  padding: 1rem;
  overflow: hidden;
  place-items: center;
  border-radius: 4px;
}

.content-header {
  font-family: 'Monaco';
  font-style: italic;
  font-size: 0.75em;
}

.content-paragraph {
  font-family: 'Andale Mono', monospace;
  font-size: 0.5em;
}

@media (min-width: 700px) {
  .content-header {
    font-size: 25px;
  }
  .content-paragraph {
    font-size: 0.75em;
  }
}

@media (min-width: 900px) {
  .backgroundLaptop {
    width: 100%;
    display: block;
  }
  .content {
    top: 18%;
    width: 40%;
  }
  .content-header {
    font-size: 1.25em;
  }
  .content-paragraph {
    padding-top: 20px;
    font-size: 0.75em;
  }
}

@media (min-width: 1200px) {
  .content-header {
    font-size: 2em;
  }

  .content-paragraph {
    font-size: 1em;
    margin: 20px;
  }
}
