html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  background: linear-gradient(to top, #e6e0d8 0%, #fbfaf8 75%);
  font-family: 'Merriweather', serif;
}

button {
  padding: 0.5rem 1.25rem;
  background: #3d4b66;
  color: #fff;
  font-family: 'Merriweather', serif;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
  width: auto;
  margin-right: 20px;
}

.icons {
  height: 35px;
  width: 35px;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
