.hero-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 875px;
  aspect-ratio: 4 / 5;
  background-image: url('/assets/images/mobileBackground.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 275px;
}

.content-header {
  font-family: 'Monaco';
  font-style: italic;
  font-size: 15px;
}

.content-paragraph {
  font-family: 'Andale Mono', monospace;
  font-size: 0.7rem;
  margin-top: 0.75rem;
}

@media (min-width: 700px) {
  .content {
    width: 425px;
  }

  .mobileBackground {
    width: 650px;
  }
  .content-header {
    font-size: 24px;
  }

  .content-paragraph {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .hero {
    background-image: url('/assets/images/backgroundFinalTransparent.png');
  }

  .content {
    max-width: 380px;
  }

  .content-header {
    font-size: 24px;
  }

  .content-paragraph {
    font-size: 1rem;
  }
}
